.cover__link {
  height: 100%;

  color: #fff;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  position: relative;

  z-index: 1;
}

@media (min-width: 768px) {
  .cover__link {
    row-gap: 32px;
  }
}
