.header {
  width: calc(100% - (16px * 2));

  display: flex;
  justify-content: space-between;

  margin: 16px auto 0 auto;
}

@media (min-width: 768px) {
  .header {
    width: calc(100% - (24px * 2));
    max-width: 928px;

    margin: 28px auto 0 auto;
  }
}

@media (min-width: 1024px) {
  .header {
    width: calc(100% - (48px * 2));
    max-width: 1184px;
  }
}
