.lead__title {
  max-width: 720px;

  color: #fff;
  font-weight: 900;
  font-size: clamp(40px, 12.5vw, 96px);
  line-height: clamp(44px, 13.5vw, 100px);
  text-align: center;

  display: block;

  margin: 0 auto;
  padding: 48px 16px 0 16px;
}

@media (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }
}
