.lead__image-container {
  width: 100%;
  font-size: 0;

  position: relative;

  margin: 40px auto 0 auto;
}

@media (min-width: 768px) {
  .lead__image-container {
    margin-top: 56px;
  }
}

@media (min-width: 1280px) {
  .lead__image-container {
    margin-top: 64px;
  }
}
