.lead__subtitle {
  max-width: 640px;

  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  display: block;

  margin: 0 auto;
  padding-top: 32px;
}

@media (max-width: 767px) {

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;

    padding-top: 16px;
  }

}

@media (max-width: 672px) {

  .lead__subtitle {
    margin: 0 16px;
  }

}
